body {
    background-color: #ebecf0ff;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    border-bottom: 1px solid rgba(204, 217, 232);
    padding: 30px 0;
}
.weather-box {
    background: #fcfdfeff;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0px 30px 50px 1px rgba( 204, 217, 232);
    border-radius: 15px;
}

h1 {
    color: rgba(37, 76, 106);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: none;
    margin: 0 auto;
}

h3 {
    color: rgba(37, 76, 106);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: none;
    margin: 0 auto;
}

a {
    color: rgba(37, 76, 106);
}

.search-form-input {
    background-color: #ebecf0ff;
    border-radius: 6px;
    border: none;
    width: 80%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.search-button {
    background-color: rgba(204, 217, 232);
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    width: 19%;
    font-family: 'Josefin Sans', sans-serif;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.temperature {
    font-size: 70px;
}

p {
    font-weight: 300;
    padding: 0 auto;
}

.nice {
    font-weight: 500;
    color: rgba(37, 76, 106);
}
 .celsium {
    font-size: 40px;
 }

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    background-color: rgba (235, 236, 240);
}